@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cycleColors {
    0%   { color: #339; }
    100%  { color: #f50; }
  }

  .animate-cycle {
    animation: cycleColors 2s infinite;
  }
